.react-tel-input .flag-dropdown ul.country-list {
    padding: 0 !important;
    padding-left: 0 !important;
}
.react-tel-input .flag-dropdown li {
    list-style-type: none;
}
.react-tel-input .flag-dropdown li:before {
    display: none;
}
